<h2>Products</h2>

<section class="products">

	<% @products.each do |product|%>

		<div class="product">
			<%= link_to product_path(product) do %>
				<h3><%= product.name %></h3>
			<% end %>
			
			<div class="info">
				<p><%= product.description.truncate(25, separator: /\s/) %></p>
				<small><%= number_to_currency (product.price_in_pence.to_f/100), unit: "£", precision: 2 %></small>
			</div>

			<div class="actions">
				<!-- If logged in AND user is owner, show these actions -->
					<%= link_to "Edit", edit_product_path(product) %>
					<%= link_to "Delete", product_path(product), method: :delete %>
				<!-- else... -->
					<%= link_to "Log in", "#" %>
				<!-- end -->
			</div>
		</div>

	<% end %>

</section>
